@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Honk&display=swap');

*{
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

:root{
    --bg: #13122F;
    --bodyRadiant: #17139f;
    --bgArticle: #0f0c70;
    --articleRadiant: #570404;
    --title: #37A942;

}
body{
    background-color: var(--bg);
}

/*
****************************GENERAL******************************
*/

.container{
    max-width: 1200px;
    margin: 50px auto 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.content-center{
    align-content: center;
}
h1{
    font-family: "Honk";
    font-size: 78px;
}
h2{
    width: 100%;
    font-family: "honk";
    font-size: 56px;
    text-align: center;
    margin-bottom: 16px;
}
h3{
    color: var(--title);
    font-size: 24px;
    margin-bottom: 5%;
}
h4{
    font-size: 24px;
}
p{
    font-size: 16px;
}
a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}
.bouton{ 
    background-color: rgb(16, 16, 155);
    border-radius: 20px;
    width: fit-content;
    justify-self: center;
    align-self: center;
    display: inline-block;
    margin-bottom: 16px;
    padding: 10px 40px;
}
a :visited{
    text-decoration: none;
}
ul{
    list-style: none;
}
.ul a{
    font-size: 16px;
}
section{
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, #0f0c70 60%, #570404 100%);
    border-radius: 5px;
    z-index: 1;
    align-items: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.br10{
    border-radius: 10px;
}
.gap16{
    gap: 16px;
}

/*
*************************MENU BURGER***************************
*/

#headerBurger{
    z-index: 1000000;
    display: none;
    background-color: #13122fba;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.198);
    padding: 32px 32px;
    width: 200px;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    transform: translateX(-200px);
    transition: transform 0.6s linear;
}
/* icon burger*/
#burger{
    display: none;
    z-index: 10000000;
    border-radius: 10px;
    border: 1px solid #1a1a1a;
    background: rgba(125, 125, 125, 0.39);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    width: 40px;
    height: 40px;
}
#burgerIcon{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}
.burger_icon {
    width: 20px;
    height: 20px;
    padding: 3px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.burger_icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background: linear-gradient(50deg, rgba(2,0,36,1) 0%, #0f0c70 60%, #570404 100%);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, width .4s, opacity .4s;
}

.burger_icon span:nth-child(2) {
  width: 60%;
}

.burgerCroix1{
  background: rgb(255, 59, 48) !important;
  transform: translateY(7.5px) rotate(-45deg);
}

.burgerCroix2{
  width: 0;
  opacity: 0;
}

.burgerCroix3{
  background: rgb(255, 59, 48) !important;
  transform: translateY(-6.5px) rotate(45deg);
}

/*
****************************HEADER*******************************
*/

header{
    background-color: #13122fba;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    padding: 0 5%;
    height: 50px;
    z-index: 3;
}
header nav{
    width: 35%;
}
header a{
    color: white;
}
header p{
    color: var(--title);
    font-size: 1.5rem;
}
header img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
header>div{
    gap: 100px;
}
.is-primary{
    background-color: aquamarine;
    padding: 5px;
}
.button{
    cursor: pointer;
}
.mobile{
    display: none;
}

/*
*****************************HERO********************************
*/

.hero{
    height: calc(100vh - 50px);
    background-image: url(./Assets/banniere-grimace-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
}

.hero>div{
    background-color:#13122fc8;
    width: 45%;
    padding: 1%;
    border-radius: 50px;
}
.hero p{
    color: white;
    font-size: 2rem;
}

/*
****************************GALERIE******************************
*/

.imgGal {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "photo1 photo2 photo4 photo6"
      "photo1 photo3 photo5 photo7"
      "galerie photo3 poster poster";
  }
    .photo1 { grid-area: photo1; }
    .photo2 { grid-area: photo2; }
    .photo3 { grid-area: photo3; }
    .photo4 { grid-area: photo4; }
    .photo5 { grid-area: photo5; }
    .photo6 { grid-area: photo6; }
    .photo7 { grid-area: photo7; }
    .galerie { grid-area: galerie; }
    .poster { grid-area: poster; }

.galerie{
    align-self: center;
}
.poster{
    align-self: center;
}

/*
*****************************DEFIS*******************************
*/

.defis{
    width: 45%;
}
.imgDefis{
    width: 50%;
}
.defis p{
    width: 70%;
    color: white;
}

/*
****************************HISTOIRE*****************************
*/

.histoire{
    width: 45%;
}
.histoire p{
    width: 70%;
    color: white;
}

/*
****************************BGMIDDLE*****************************
*/

.bgMiddle{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 2000px;
}

/*
****************************ATELIERS*****************************
*/

.atelier{
    padding: 1% 3%;
    position: relative;
}
.atelier div{
    width: 45%;
}
.atelier>div>a{
    text-align: center;
}
.atelier p{
    color: white;
}
.duo{
    position: relative;
    top: 50px;
    left: 80px;
    rotate: -15deg;
    z-index: 2;
    width: 30%;
}
.img{
    width: 60%;
}
.img2{
    z-index: 1;
    position: relative;
    bottom: 40px;
    left: 120px;
    rotate: 10deg;
    width: 60%;
}

/*
****************************BOUTIQUE*****************************
*/
.boutique{
    padding: 30px;
}
.card{
    width: 30%;
    background-color: white;
}
.cardContent{
    padding: 0 10px 10px 10px;
}
.imgProfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*
**************************COMMUNAUTEE****************************
*/

.communautee{
    align-content: space-evenly;
    padding: 30px;
}
.box{
    width: 30%;
    padding: 10px;
    background-color:white;
    margin-bottom: 16px;
}
.profil{
    width: 80px;
    height: 50px;
}

.newsletter{
    border-color: var(--articleRadiant);
    max-width: 50%;
    margin-top: 3%;
}

.mail p{
    color: white;
}
#mail{
    width: 50%;
    padding: 5px 20px;
    border: none;
}
#inscrire{
    padding: 5px 20px;
    margin-left: 5px;
    border: none;
}

/*
*****************************BGEND*******************************
*/

.bgEnd{
    position: relative;
    width: 100%;
    margin-top: -250px;
    z-index: -1;
}

/*
*****************************FOOTER******************************
*/

footer{
    padding: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, #0f0c70 60%, #570404 100%);
    border-radius: 5px;
    justify-content: space-evenly;
    margin-top: -150px;
}
.autre{
    width: 20%;
    flex-direction: column;
}
.autre ul{
    flex-direction: column;
    gap: 15px;
}
.autre p{
    color: white;
}
.autre a{
    color: white;
}

/*
*****************************************************************
*****************************************************************
***************************RESPONSIVE****************************
*****************************************************************
*****************************************************************
*/

/*
******************************1250*******************************
*/

@media all and (max-width:1250px){
    .container{
        max-width: 900px;
    }
    .d-none{
        display: none;
    }
    #burger{
        display: flex;
    }
    #headerBurger{
        display: block;
    }
    h1{
        font-size: 48px;
    }
    .hero p{
        font-size: 20px;
    }
    .communautee strong{
        font-size: 15px;
    }
}

/*
******************************900********************************
*/

@media all and (max-width:950px){
    .container{
        max-width: 600px;
    }
    h1{
        font-size: 24px;
    }
    .hero p{
        font-size: 16px;
        text-align: center;
    }
    h2{
        font-size: 35px;
    }
    a{
        font-size: 16px;
    }
    .flex-column{
        flex-direction: column;
    }
    .defis{
        width: 100%;
        margin-bottom: 16px;
    }
    .histoire{
        width: 100%;
    }
    .bgMiddle{
        top: 2200px;
    }
    .card{
        width: 100%;
        margin-bottom: 16px;
    }
    .box{
        width: 100%;
    }
    .bgEnd{
        margin-top: -150px;
    }
    footer{
        padding: 30px;
        margin-top: -50px;
    }
}

/*
******************************900********************************
*/

@media all and (max-width:650px){
    header>div{
        gap: 8px;
    }
    .gap16{
        gap: 8px;
    }
    .mobile{
        display: flex;
        margin: 16px 0;
    }
    .hidden{
        display: none;
    }
    #headerBurger img{
        width: 24px;
        height: 24px;
    }
    #headerBurger p{
        font-size: 16px;
    }
    #headerBurger li{
        margin-bottom: 16px;
    }
    .hero>div{
        width: 100%;
    }
    .atelier>div{
        width: 100%;
    }
    footer{
        gap: 16px;
    }
    .bouton{padding: 5px 5px; text-align: center;}
    /*
    ***********************GALERIE**********************
    */
    .imgGal {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "photo1 photo2 photo3"
          "photo1 photo4 photo3"
          "galerie photo5 photo7"
          "poster photo5 photo7";
      }
      
      .photo1 { grid-area: photo1; }
      
      .photo2 { grid-area: photo2; }
      
      .photo4 { grid-area: photo4; }
      
      .photo3 { grid-area: photo3; }
      
      .photo5 { grid-area: photo5; }

      .photo6 { display: none; }
      
      .photo7 { grid-area: photo7; }
      
      .galerie { grid-area: galerie; }
      
      .poster { grid-area: poster; }
      
}